# Temporary files
*.*~

# Export and tangle outputs
public/*
!public/favicon.ico
*.html
!shared/*.html
*.bbl
*.pdf
*.el
*.scm
blog/attachments
shared/biblio-setup.org

# List of blog posts
blog/posts.org

