body {
  color: #404040;
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva,
    sans-serif;
  font-size: 10pt;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: justify;
}

h1, h2 {
  font-weight: normal;
}

h1, h2, h3 {
  border-bottom: 1px solid #CCCCCC;
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans,
    sans-serif;
}

h4, h5, h6 {
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans,
    sans-serif;
}

a {
  color: #115589;
  text-decoration: none;
}

a:hover {
  color: #404040;
}

#site-identification {
  background: url("/images/header.png") top left repeat-x;
  height: 46px;
}

#preamble-navigation {
  background: #206091 url("/images/navigation.png") bottom repeat-x;
  color: #FFFFFF;
  margin: 0;
  padding: 4px 15px 30px 55px;
}

#preamble-navigation p {
  margin: 0;
}

#preamble-navigation a {
  color: #FFFFFF;
}

#preamble-navigation a:first-child {
  font-weight: bold;
}

#preamble-navigation a:hover {
  text-decoration: underline;
}

#me {
  background: #E5E5E5;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #C2C6C6;
  clear: both;
  content: "";
  display: table;
  margin-bottom: 25px;
  padding: 25px;
  text-align: left;
  width: calc(100% - 50px);
}

#me-info {
  float: left;
  width: calc(100% - 215px);
}

#me-photo {
  margin-left: calc(100% - 200px);
  text-align: right;
  width: 200px; 
}

#current-position {
  font-size: 120%;
}

#me-info > p,
#current-position p:first-child {
  margin-top: 0;
}

#postamble-separator {
  margin-bottom: 1.5em;
}

#postamble-navigation p {
  margin: 0.7em 0;
}

#postamble-navigation p a:first-child {
  font-weight: bold;
}

#last-modification {
  color: #909090;
  font-size: 80%;
  text-align: center;
}

.post-title {
  margin-bottom: 0.2em;
}

.post-metadata {
  color: #909090;
  font-size: 80%;
}

.post-separator {
  border-top: 1px dotted #909090;
  border-bottom: 0;
}

#preamble {
  width: 100%;
  margin: 0;
  padding: 0;
}

#content, .content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#content h1:first-child, .content h1:first-child {
  margin-top: 0;
}

#postamble {
  margin: 0;
  font-size: 80%;
  padding: 0 15px;
  text-align: center;
}

.src, .example {
  border: 1px dashed #000000;
  font-size: 12px;
  overflow-x: scroll;
  padding: 10px;
}

code {
  border: 1px dashed #000000;
  font-size: 12px;
  padding: 2px;
}

.figure {
  margin: 1.5em auto;
}

.figure p {
  font-size: 90%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 992px) {
  #content {
    width: 970px;
  }
}

@media (max-width: 576px) {
  #preamble-navigation {
    padding: 4px 15px 30px 15px;
  }

  #me-info {
    width: 100%;
  }

  #me-photo {
    display: none;
  }
}
