@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

body {
  color: #404040;
  font-family: "Lato", sans-serif;
  font-size: 100%;
}

a {
  color: #115589;
  text-decoration: none;
}

a:hover {
  color: #404040;
}

a#site-name {
  color: #404040;
  font-family: "Roboto Slab", sans-serif;
  font-size: 240%;
  font-weight: bold;
  text-decoration: none;
}

hr#upper-hline {
  border: 5px solid #115589;
  margin-bottom: 0;
}

hr#lower-hline {
  border: 3px solid #404040;
  margin-top: 0;
}

hr#footer-hline {
  margin-bottom: 0;
}

nav#top-navigation p {
  font-size: 120%;
  font-weight: bold;
  margin: 0.7em 0;
  word-spacing: 1em;
}

.footer {
  font-size: 80%;
  padding: 1em;
}

nav#bottom-navigation p {
  margin: 0.7em 0;
}
